

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Template1</title>
</head>
<body>

<div>Dear Managers,</div>
<div>New ticket <a th:href="@{'http://localhost:4200/ticketoverview/' + ${ticketId}}"><span th:utext="${ticketName}"></span></a> is waiting for your approval</div>



</body>

</html>