
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Template6</title>
</head>
<body>

<div>Dear <span th:utext="${firstName}"></span> <span th:utext="${lastName}"></span></div>
<div>Ticket <a th:href="@{'http://localhost:4200/ticketoverview/' + ${ticketId}}"><span th:utext="${ticketName}"></span></a> was done by the Engineer</div>
<div>Please provide your feedback clicking on <a th:href="@{'http://localhost:8080/v1/feedback/' + ${ticketId}}">this</a></div>



</body>

</html>