

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Template2</title>
</head>
<body>

<div>Dear Users,</div>
<div>Ticket <a th:href="@{'http://localhost:4200/ticketoverview/' + ${ticketId}}"><span th:utext="${ticketName}"></span></a> was approved by the Manager</div>



</body>

</html>