
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Template3</title>
</head>
<body>

<div>Dear <span th:utext="${firstName}"></span> <span th:utext="${lastName}"></span></div>
<div>Ticket <a th:href="@{'http://localhost:4200/ticketoverview/' + ${ticketId}}"><span th:utext="${ticketName}"></span></a> was declined by the Manager</div>



</body>

</html>