


<form class ="card" [formGroup]="form" (ngSubmit)="submit()">
    <h2>Login to the Help Desk</h2>
    <div 
    [ngClass]="{invalid: form.get('login').touched && form.get('login').invalid}"
    class ="form-control"> 
        <label for ="login">User Name:</label>
        <input id="login" type="text" formControlName="login">
        <div 
        *ngIf = "form.get('login').touched && form.get('login').invalid"
         class = "validation">
            <small>Field "User Name" is required. Please input "Users Email"</small>
        </div>
    </div>
    
    <div
    [ngClass]="{invalid: form.get('password').touched && form.get('password').invalid}"
    class ="form-control"> 
        <label for ="password">Password:</label>
        <input id="password" type="password" formControlName="password">
        <div
        *ngIf = "form.get('password').touched && form.get('password').invalid"
        class = "validation">
        <small *ngIf = "form.get('password').errors.required">Field "Password" is required. Please input "Password"</small>
        <small *ngIf = "form.get('password').errors.minlength">Password must be at least {{form.get('password').errors.minlength.requiredLength}} characters. Now {{form.get('password').errors.minlength.actualLength}}</small>
        </div>
    </div>
    <button
    type ="submit"
    class = "btn - btn-primary"
    [disabled]="form.invalid">Enter</button>
</form>