
<button color="warn" mat-raised-button type ="button"  [routerLink]="['/tickets']">Tickets list</button>
<button color="accent" mat-raised-button type ="button" [routerLink]="['/editTicket', currentTicketId]">Edit</button>
<button color="accent" mat-raised-button type ="button" 
*ngIf="feedbackIsAvailable"
[routerLink]="['/feedbacks', currentTicketId]">Leave feedback</button>
<h3>
Ticket ({{ticket?.id}}) - {{ticket?.name}}
</h3>  


    <table>
    <tr><td>Created on</td><td>{{ticket?.createdOn.dayOfMonth}}.{{ticket?.createdOn.month}}.{{ticket?.createdOn.year}}</td></tr>
    <tr>
        <td>Status</td><td>{{ticket?.state}}</td>
        <td>Category</td><td>{{ticket?.category.name}}</td></tr>
    <tr><td>Urgency</td><td>{{ticket?.urgency}}</td></tr>
    <tr><td>Desired resolution date</td><td>{{ticket?.desiredResolutionDate  | date }}</td></tr>
    <tr><td>Owner</td><td>{{ticket?.ownerFirstName}}  {{ticket?.ownerLastName}}</td></tr>
    <tr><td>Approver</td><td>{{ticket?.approverFirstName}}  {{ticket?.approverLastName}}</td></tr>
    <tr><td>Assigniee</td><td>{{ticket?.assigneeFirstName}}  {{ticket?.assigneeLastName}} </td></tr>
    <tr><td>Attachments</td><td *ngFor = "let attachment of attachments">{{attachment.name}} 
      <form [formGroup]="form2" > 
        <input type="radio" formControlName="getImage" value="{{attachment.id}}" checked="on">
      <button type ="submit"
      (click)="getImage()">Get Image</button>
      <img src="{{data}}" *ngIf="data" alt="Your image" style="display: block"/>
      </form>
    </td></tr>
    <tr><td>Description</td><td>{{ticket?.description}}</td></tr>
  </table>

    <mat-button-toggle-group>
        <mat-button-toggle class = "toggleBtn" checked value="center" aria-label="Text align center"(click)="historyFirst = true" (click) = "getHistory()">
            History
        </mat-button-toggle>
        <mat-button-toggle class = "toggleBtn" value="center" aria-label="Text align center" (click) = "getComments()" (click)="historyFirst = false" >
            Coments
        </mat-button-toggle>
    </mat-button-toggle-group>
    
    <div *ngIf="historyFirst; else comments">
        
        <mat-table [dataSource]="dataSourceHistory" matSort class="mat-elevation-z8">
 
            <!-- Date Column -->
            <ng-container matColumnDef="Date">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
              <mat-cell *matCellDef="let history"> {{history.dateOfStory.month}}. {{history.dateOfStory.dayOfMonth}}. {{history.dateOfStory.year}}     
                {{history.dateOfStory.hour}}:{{history.dateOfStory.minute}}:{{history.dateOfStory.second}}
              </mat-cell>
            </ng-container> 
          
            <!-- User Column -->
            <ng-container matColumnDef="User">
              <mat-header-cell *matHeaderCellDef mat-sort-header> User </mat-header-cell>
              <mat-cell *matCellDef="let history" > {{history.userFullName}} </mat-cell>
              
            </ng-container>
          
            <!-- Comment Action -->
            <ng-container matColumnDef="Action">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
              <mat-cell *matCellDef="let history">  {{history.action}} </mat-cell>
            </ng-container> 

             <!-- Comment Description -->
             <ng-container matColumnDef="Description">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
                <mat-cell *matCellDef="let history">  {{history.description}} </mat-cell>
              </ng-container> 
              
            <mat-header-row *matHeaderRowDef="displayedColumnsHistory"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumnsHistory;"></mat-row>
          </mat-table>
       
    </div>
    
    <ng-template #comments>
                 
        <mat-table [dataSource]="dataSourceComment" matSort class="mat-elevation-z8">
 
            <!-- Date Column -->
            <ng-container matColumnDef="Date">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
              <mat-cell *matCellDef="let comment"> {{comment.dateOfComment.month}}. {{comment.dateOfComment.dayOfMonth}}. {{comment.dateOfComment.year}}     
                 {{comment.dateOfComment.hour}}:{{comment.dateOfComment.minute}}:{{comment.dateOfComment.second}}
              </mat-cell>
            </ng-container> 
          
            <!-- User Column -->
            <ng-container matColumnDef="User">
              <mat-header-cell *matHeaderCellDef mat-sort-header> User </mat-header-cell>
              <mat-cell *matCellDef="let comment" > {{comment.userFullName}} </mat-cell>
              
            </ng-container>
          
            <!-- Comment Column -->
            <ng-container matColumnDef="Comment">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Comment </mat-header-cell>
              <mat-cell *matCellDef="let comment">  {{comment.text}} </mat-cell>
            </ng-container> 
              
            <mat-header-row *matHeaderRowDef="displayedColumnsComment"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumnsComment;"></mat-row>
          </mat-table>
         <br>
         <br>
               <div>
                <form [formGroup]="form" (ngSubmit)="addComment()">
                    <input type="text" formControlName="newComment">
                    <button color="accent" mat-raised-button type ="submit">Add comment</button>
                </form>
               </div>   
    </ng-template>
   
    
   
