
<button color="accent" mat-raised-button [routerLink]="['/ticketoverview', ticketId]" type ="button" >Ticket overview</button>
    <h2>Edit ticket ({{ ticketId }})</h2>
    
<div>
    <form [formGroup]="form" (ngSubmit)="editTicket()" >
       
        <tr>
            <td >Category*</td>
            <td>  <div 
                [ngClass]="{invalid: form.get('category').touched && form.get('category').invalid}"
                class ="form-control">
               
                <mat-form-field >
                    <mat-label >{{ticket.category.name}}</mat-label > 
                     <mat-select formControlName="category"> 
                        <mat-option *ngFor = "let category of categories" value = "{{category.id}}" >{{category.name}}</mat-option > 
                     </mat-select >
                </mat-form-field>
             </div>
            </td>
        </tr> 
        <tr>
             <td>Name*</td><td>
                <div 
                [ngClass]="{invalid: form.get('category').touched && form.get('category').invalid}"
                class ="form-control">
            
                 <input placeholder = "{{ticket.name}}" type= "text" formControlName="name">
                </div>
            </td></tr>
        <tr>
             <td>Description</td><td><textarea placeholder = "{{ticket.description}}" formControlName="description"></textarea></td></tr>
        <tr>
            <td>Urgency*</td><td>
                <div 
                [ngClass]="{invalid: form.get('urgency').touched && form.get('urgency').invalid}"
                class ="form-control">
                       <mat-form-field > 
                           <mat-label >{{ticket.urgency}}</mat-label > 
                           <mat-select type="text" formControlName="urgency"> 
                              <mat-option value = "LOW" >LOW</mat-option > 
                               <mat-option value = "AVERAGE" >MEDIUM</mat-option > 
                               <mat-option value = "HIGH" >HIGH</mat-option >
                               <mat-option value = "CRITICAL" >CRITICAL</mat-option > 
                           </mat-select >
                      </mat-form-field>
                    </div>
            </td>
        </tr>
        <tr>
            <td>Desired resolution date</td>
            <td>
                <div 
                [ngClass]="{invalid: form.get('resolutionDate').touched && form.get('resolutionDate').invalid}"
                class ="form-control">
                <mat-form-field >
                    <mat-label>{{ticket.desiredResolutionDate | date}}</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="resolutionDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker [startAt]="startDate"></mat-datepicker>
                  </mat-form-field> 
                </div>
            </td>
        </tr>
        <tr>
            <td>Add attachments</td><td><input
                style="display: none"
                #fileInput
                type="file" (change)="onFileSelected($event)" >
            <input type="file" (click)="fileInput.click()">
                <br>
                <br>
            </td>
        </tr>
        <tr>
            <td>Comment</td><td><textarea formControlName="commentText"></textarea>
            </td>
        </tr> 
        <button  [disabled]="form.invalid"
         color="accent" mat-raised-button type ="submit">Save as Draft</button>
        
        <button  [disabled]="form.invalid"
        color="accent" mat-raised-button   type ="submit" >Submit</button >
        
            <div class = "form-control">
                <small color = red *ngIf="form.invalid">All fields with * are required. Please check your input</small>
               </div>
       
    </form>
   </div> 