
<nav class = "navbar bg-primary">
    <h1>Help Desk</h1>
    

    <ul>
     
        <li>{{username}} _____ {{role}} </li>
        <li> _____  </li>
       

        <li>
            <a href="#" (click) = "logout ($event)">LogOut </a>
        </li>
    </ul>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>