<div class = "tickets">
    
    
    <button *ngIf="availableToCreateTicket" color="accent" mat-raised-button [routerLink]="['/createTicket']">Create new ticket</button>
    <div></div>
    <br>
    <br>
    <br>
    <mat-button-toggle-group>
    <mat-button-toggle class = "toggleBtn" (click)="toggle =!toggle" value="center" aria-label="Text align center" (click) = "getAllTickets()">
        All tickets
    </mat-button-toggle>
    <mat-button-toggle class = "toggleBtn" value="center" aria-label="Text align center" (click) = "getMyTickets()">
        My tickets
    </mat-button-toggle>
</mat-button-toggle-group>
<mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" >
 
   <!-- Position Column -->
  <ng-container matColumnDef="ID">
    <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
    <mat-cell *matCellDef="let ticket"   > {{ticket.id}} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
    <mat-cell *matCellDef="let ticket" [routerLink]="['/ticketoverview', ticket.id]">
     <a> {{ticket.name}} </a></mat-cell>
    
  </ng-container>

  <!-- Desired date Column -->
  <ng-container matColumnDef="Desired date">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Desired date </mat-header-cell>
    <mat-cell *matCellDef="let ticket" >  {{ticket.desiredResolutionDate | date}} </mat-cell>
  </ng-container>

  <!-- urgency Column -->
  <ng-container matColumnDef="Urgency">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Urgency </mat-header-cell>
    <mat-cell *matCellDef="let ticket"> {{ticket.urgency}} </mat-cell>
  </ng-container>

  <!-- Status Column -->
  <ng-container matColumnDef="Status">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
    <mat-cell *matCellDef="let ticket"> {{ticket.state}} </mat-cell>
  </ng-container>-->

   <!-- Action Column -->
   <ng-container matColumnDef="Action">
    <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
    <mat-cell *matCellDef="let ticket"> 
  <form [formGroup]="form" > 
    <mat-label >Choose Action</mat-label >
     <mat-form-field >
       <mat-select formControlName="doAction"> 
       <mat-option  *ngFor = "let someAction of  ticket?.availableActions.doAction" type="submit" 
       value = "{{ticket.id}}|{{someAction}}" (click)="doAction()" > {{someAction}}</mat-option >
       
       </mat-select >                     
      </mat-form-field>
  </form>
    </mat-cell>
 
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>

    
</div>
