.tickets {
    max-width: 800px;
    margin: 0 auto;
}
button {
    margin-right: 3rem;
}
.mat-elevation-z8 {
    width: 100%;
}

table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }

  .radioBTN {
      display: none;

  }