

    <h2>
        Create new Ticket
    </h2>
 
<div>
    <form [formGroup]="form"  >
       
        <tr>
            
            <td >Category*</td>
            <div 
    [ngClass]="{invalid: form.get('category').touched && form.get('category').invalid}"
    class ="form-control">
            <td> 
                <mat-form-field >
                     <mat-select formControlName="category"> 
                        <mat-option *ngFor = "let category of categories" value = "{{category.id}}" >{{category.name}}</mat-option > 
                     </mat-select >
                </mat-form-field>
            </td>
            
            </div>
        </tr> 
        <tr>
             <td>Name*</td><td>
                <div 
                [ngClass]="{invalid: form.get('name').touched && form.get('name').invalid}"
                class ="form-control">
                 <input type= "text" formControlName="name">
                </div>
                </td></tr>

        <tr>
             <td>Description</td><td><textarea formControlName="description"></textarea></td></tr>
        <tr>
            <td>Urgency*</td><td>
                <div 
                [ngClass]="{invalid: form.get('urgency').touched && form.get('urgency').invalid}"
                class ="form-control">
                       <mat-form-field >
                           <mat-select type="text" formControlName="urgency"> 
                              <mat-option value = "LOW" >LOW</mat-option > 
                               <mat-option value = "AVERAGE" >MEDIUM</mat-option > 
                               <mat-option value = "HIGH" >HIGH</mat-option >
                               <mat-option value = "CRITICAL" >CRITICAL</mat-option > 
                           </mat-select >
                      </mat-form-field>
                </div>


                      
            </td>
        </tr>
        <tr>
            <td>Desired resolution date</td>
            <td>
                <div 
                [ngClass]="{invalid: form.get('resolutionDate').touched && form.get('resolutionDate').invalid}"
                class ="form-control">
                <mat-form-field >
                    <mat-label>Choose a date</mat-label>
                    <input type="text" matInput [matDatepicker]="picker" formControlName="resolutionDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker [startAt]="startDate"></mat-datepicker>
                  </mat-form-field> 
                </div>
            </td>
        </tr>
        <tr>
            <td>Add attachments</td><td>
               
                <input
                style="display: none"
                #fileInput
                type="file" (change)="onFileSelected($event)" >
            <input type="file" (click)="fileInput.click()">
                <br>
                <br>
            </td>
        </tr>
        <tr>
            <td>Comment</td><td><textarea formControlName="commentText"></textarea>
            </td>
        </tr> 
        
        <button  [disabled]="form.invalid"
        color="accent" mat-raised-button (click)="saveTicketAsDraft()" type ="submit">Save as Draft</button>
        
        <button  [disabled]="form.invalid"
        color="accent" mat-raised-button  (click)="createTicket()" type ="submit" >Submit</button >
                
        <button 
        color="accent" mat-raised-button [routerLink]="['/tickets']" type ="button"  >Ticket list</button>
        <div class = "form-control">
         <small color = red *ngIf="form.invalid">All fields with * are required. Please check your input</small>
        </div>
    </form>
   </div> 