<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 <button color="accent" mat-raised-button type ="button" (click)="back()">Back</button>
 <h1>Ticket ({{ticket.id}}) - {{ticket.name}}</h1>
<div style="text-align:center"> 
  
   
    <h3>
      Please, rate your satisfaction with the solution:
    </h3>

      <div class="cont">
        <div class="stars">
         <ngx-star-rating [(ngModel)]="rating3" [id]="'rating3'" >df</ngx-star-rating >
        </div>
        <div>
          Rating: {{ rating3 }}
        </div>
      </div>

     <form [formGroup]="form">
    
 <!--   </div> -->
 <!--   <star-rating value="5" totalstars="5" checkedcolor="red" uncheckedcolor="black" size="80px" readonly="false" (rate)="onRate($event)"></star-rating> -->
    <textarea formControlName="feedback"></textarea>
    <button color="accent" mat-raised-button type ="submit" (click)="addFeedback()" >Submit</button>
    </form>
  
     
  
</div>
    