


label {
    size: 30rem;

}
.cont {
    width: 93%;
    max-width: 550px;
    text-align: center;
    margin: 4% auto;
    padding: 10px 0;
    overflow: hidden;
  }
  
  div.stars {
    width: 270px;
    display: inline-block;
  }
  